// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===== Product 產品 =====*/
.product-box {
  text-align: center;
  padding: 0 0 100px 0;

  .background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  a {
    color: #666 !important;
  }

  .btn {
    background-color: #fff;
    margin: 0 10px 0 10px;
  }

  .btn:hover,
  .btn:focus {
    color: #eb5424;
  }

  .dropdown-menu {
    li {
      min-width: 200px;
      padding: 2.5px 0 2.5px 0;
    }

    li:hover {
      a {
        background-color: #f0f0f0 !important;
      }
    }
  }

  a:hover {
    color: #eb5424 !important;

    img {
      opacity: 0.75;
    }
  }

  .search-error {
    margin: 150px 0 150px 0;
  }

  /*===== 產品列表內容設置 =====*/
  .product-content {
    img {
      width: 100%;
      margin: 7.5px auto 7.5px auto;
    }

    h2 {
      margin-top: 150px;
    }


  }



  .product-info {
    text-align: left;
    line-height: 14px;
    min-height: 55px;
  }

  /*===== 產品路徑設置 =====*/
  .path-box {
    text-align: left;
    height: 20px;

    .right-box {
      button {
        margin: -15px 0 -15px 0;
        padding: 7.5px 10px 7.5px 10px;
        border: 2px solid #666;
        color: #333;
      }

      button:focus {
        background-color: #fff;
        color: #333;
      }

      ul {
        margin-top: 15px;
      }
    }
  }

  /*===== 產品顏色設置 =====*/
  .color-circle {
    button {
      border: none;
      outline: none;
      border-radius: 25px;
      color: #ffffff;
      padding: 10px 10px 10px 10px;
      margin: 0px 2px 0px 2px;
    }

    button:active {
      outline: none; //點擊不顯示外框
    }
  }

  /*===== 精選商品圖示 =====*/
  .chosen-box {
    position: absolute;
    border-radius: 45px;
    top: 22px;
    left: 27px;
    width: 45px;
    height: 45px;
    padding-top: 11px;
    color: #fff;
    background-color: #02061A;
    border: 2.5px solid #999;
    opacity: 0.85;
    z-index: 1;
  }

  .location {
    top: 15px;
    left: 30px;
  }
}

/*===== 產品信息區塊設置 =====*/
.product-show {
  margin: 0 0 100px 0;

  /*===== 產品圖片區塊設置=====*/
  .product-image {
    .image-box {
      padding: 7.5px;
    }

    .main-image {
      width: 100%;
      margin-bottom: 10px;
    }

    .list-image {
      width: 100%;
    }

    .list-image-active {
      box-shadow: 1.5px 1.5px 1.5px #666;
    }
  }

  /*===== 產品介紹區塊設置 =====*/
  .product-detail {
    // padding: 0 25px 0 25px;
    text-align: left;

    h1 {
      margin-top: 5px;
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
      margin-bottom: 25px;
    }

    hr {
      border: 0;
      border-bottom: 1px dashed #aaa;
      margin: 30px 0 30px 0;
    }

    img {
      width: 17.5px;
    }

    div {
      display: block;
    }

    .price {
      height: 60px;
    }

    .currency {
      margin: 10px 0 0 0;

      button {
        margin-right: -10px;
      }

      ul{
        margin-top: -5px;
      }
    }

    .wish {
      margin-left: 15px;
      font-weight: 600;
    }

    .share {
      margin-right: 15px;
    }

    /*===== 按鈕設置 =====*/
    .btn-default {
      margin-top: 25px;
      width: 100%;
      color: #666;
    }

    .btn-default:hover {
      background-color: #fff;
      border-color: #eb5424;
      color: #eb5424;
    }

    .quantity-box {
      height: 20px;

      .quantity-input {
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 2.5px;
        outline: none;
      }

      .quantity-input:focus {
        border: 1px solid #000;
      }

      .quantity-actions {
        padding: 2.5px 10px 2.5px 10px;
        border: 1px solid #ccc;
        border-radius: 2.5px;
      }

      .quantity-actions:hover {
        border: 1px solid #eb5424;
      }

      .quantity-none {
        color: #999;
        font-weight: 500;
      }

      .quantity-button {
        margin-top: -2px;
      }

      .quantity-stock {
        margin-left: 5px;
        color: red;
        font-weight: 500;
      }
    }
  }
}

.suggest-box {

  hr.suggest {
    margin: 80px auto 0px auto;
    max-width: 250px;
    border-bottom: 2px double #8c8b8b !important;
    text-align: center;
  }

  hr.suggest:after {
    content: 'BEST MATCHES';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #fff;
    font-size: 18px;
  }

  img {
    margin: 30px auto 0px auto;
    width: 110px !important;
  }

}
